*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 200px;
    border-radius: 50px;
    background-color: rgb(6, 98, 98);
}

h1{
    text-align: center;
    color: white;
    margin-top: 10px;
}

.countdown_clock{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
}

.time_unit{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 25px;
}

.day, .hours, .minutes, .seconds{
    color: white;
    margin-right: 20px;
    padding: 2px;
}